*
# add README
!README.md
# add .gitignore
!.gitignore
# add config.yml
!config.yml

# add MCDRplugins except cache
!plugins/
!plugins/**
plugins/**/__pycache__

!server/
server/*
!server/mods/
server/mods/*
# add mods.md
!server/mods/mods.md
# add run.sh
!server/run.sh
!server/world/
server/world/*
# add carpet.conf
!server/world/carpet.conf
